/*#region Basic*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(194, 194, 194);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*#endregion Basic*/

/*#region Hello*/
.about-me-container {
  display: flex;
  width: 100%;
  margin: 30px;
  margin: 0 auto;
  background-color: #18425f80;
  margin-bottom: 20px;
}

.about-me-left {
  width: 30%;
}

.img-container {
  position: relative;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  max-width: fit-content;
  max-height: fit-content;
  width: 80%;
  height: 80%;
}

.about-me-right {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.about-me-right h1 {
  font-size: 3em;
}
.about-me-right h2 {
  font-size: 2.5em;
}
.about-me-right h3 {
  font-size: 2em;
}
.about-me-right span {
  color: #102b3f;
  text-shadow: 5px 5px 5px rgba(214, 232, 22, 0.655);
}
/*#endregion Hello*/

/*#region About*/
.about-me-info-container {
  width: 100%;
  display: flex;
  border-radius: 30px;
  border: 3px solid #18425f80;
  min-height: 300px;
  margin-bottom: 20px;
  padding: 10px;
}
.about-me-info-left {
  padding: 10px;
  width: 50%;
}
.about-me-info-right {
  padding: 10px;
  width: 50%;
}
.about-me-info-left h1 {
  text-align: center;
}
.about-me-info-right h1 {
  text-align: center;
}
/*#endregion About*/

/*#region Cards*/
.card-section {
  width: 100%;
  background-color: #18425f80;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px;
}

.card {
  position: relative;
  background-color: rgb(194, 194, 194);
  width: 350px;
  box-shadow: 0 5px 25px rgba(2, 2, 2, 0.25);
  border-radius: 10px;
  overflow: hidden;
}

.card .card-img {
  position: relative;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.card .card-img img {
  width: 102%;
  height: 102%;
}

.card-content {
  position: relative;
  text-align: center;
  margin: 15px;
}

.card-content .text {
  position: relative;
  font-size: 0.9em;
  text-align: left;
  height: 100px;
  overflow: hidden;
  transition: height 0.3s ease;
}

.card-content .text:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(194, 194, 194), transparent);
  display: none;
}

.card.gradient .card-content .text:before {
  display: block;
}

.card-content .see-more-btn {
  font-size: 0.85em;
  color: #777;
  user-select: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.card-content .see-more-btn:hover {
  color: #111;
}
/*#endregion Cards*/

/*#region Contact*/
.contact-me-container {
  border-radius: 30px;
  border: 3px solid #18425f80;
  min-height: 300px;
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
  text-align: center;
}
/*#endregion Contact*/

/*#region Media*/
@media screen and (max-width: 450px) {
  html {
    margin: 5px;
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .about-me-container {
    width: 100%;
    flex-direction: column;
  }
  .about-me-left {
    margin: 0 auto;
  }
  .profile-pic {
    width: 250px;
    height: 250px;
  }
  .about-me-right {
    width: 100%;
  }

  .card-container {
    margin: 15px;
  }
  .card {
    width: 100%;
  }
  .card .card-img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
  .about-me-info-container {
    display: flex;
    flex-direction: column;
  }
  .about-me-info-left {
    width: 100%;
  }
  .about-me-info-right {
    width: 100%;
  }
}
/*#endregion Media*/
